.container {
  max-width: 1115px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  border-bottom: 2px solid black;
}

picture {
  display: block;
  height: 200px;
}

.res:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.picture-height {
  height: 100%;
}
img {
  max-width: 100%;
  display: block;
}

.cuisine {
  margin-right: 15px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
h2 {
  text-transform: uppercase;
}
.red-background {
  background-color: #ff6247;
}
button {
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
  border: none;
}

.small-heart {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 30px;
  color: red;
}
.bold {
  font-weight: bold;
}
.red {
  color: #ff6247;
}
